.statsgrid {
    display: grid;
    gap: 6px;
    
    grid-template-columns: repeat(5, 1fr);
}

@media (max-width: 550px) {
    .statsgrid {
        grid-template-columns: repeat(
            auto-fit,
            minmax(100px, 1fr)
        );
    }
}

.stat-box {
    border: 2px solid var(--primary-color);
    padding: 6px;

    display: flex;
    flex-direction: column;

    min-width: 100px;
    max-width: 100%;
}

.box-label {
    margin-bottom: 6px;
    font-weight: bold;
    text-align: left;
    font-size: 8;
}

.input-row {
    display: flex;
    gap: 6px;
}

.input-group {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.stat-divider{
    font-size: 1.5rem;
}

input {
    width: 100%;
    font-size: 1.5rem;
    box-sizing: border-box;
}

article {
    max-width: 100%;
}